.easy {
    padding-bottom: 200px;
}
.cont {
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
.easy_text {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 100px;
font-weight: 600;
line-height: 110px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.mini_text {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 130px;
}
.wrap_cont {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0px 40px;
}
.cont_paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle_pink {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    border-radius: 50%;
    margin-bottom: 48px;
    background: rgb(239, 199, 211);
}
.circle_blue {
background: rgb(169, 210, 254);;
width: 260px;
display: flex;
align-items: center;
justify-content: center;
height: 260px;
border-radius: 50%;
margin-bottom: 48px;
}
.circle_purple {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    border-radius: 50%;
    margin-bottom: 48px;
    background: rgb(89, 86, 233);
}
.circle_pink img {
    border-radius: 10px;
}
.circle_blue img {
    border-radius: 10px;
}
.circle_purple img {
    border-radius: 10px;
}
.name_paper {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 36px;
letter-spacing: -2%;
text-align: center;
margin-bottom: 60px;
}
.button_moredetail {
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 50px;
background-color: transparent;
padding: 16px 41px;


color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
transition: all 0.5s ease;
text-align: left;
}
.button_moredetail:hover {
border: 1px solid #FFFFFF;
transform: scale(1.2);
}
