main {
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 140px;
  padding-right: 140px;
  max-width: 1640px;
}
.cont {
  display: flex;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.text_cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 140px;
}
.reviews {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 100px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: 0%;
  text-align: left;
}
.reviews_desc {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.slider {
  max-width: 1640px;
  width: 100%;
  overflow: hidden;
}
.user_cont_review {
  background: rgb(38, 108, 99);
  border-radius: 30px;
  padding: 19px;
  display: flex;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.wrap_for_avatar {
  border-radius: 22px;
  background: rgb(174, 172, 255);
  max-width: 450px;
  min-height: 392px;
  box-sizing: border-box;
  padding: 48px 55px;
}
.photo_img {
  max-height: 296px;
max-width: 340px;
border-radius: 12px;
object-fit: cover;
}
.cont_for_reviewers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.review_text_cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  margin-left: 38px;
}
.name_reviewer {
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 56px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 70px;
}
.opinion_rewiewer {
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 2.5%;
text-align: left;
margin-bottom: 90px;
}
.cont_for_score {
  display: flex;
}
.author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.author p {
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
margin-left: 10px;
}
.author p>span {
  color: rgb(135, 135, 135);
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.number p {
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
margin-left: 10px;
}
.number p>span {
  color: rgb(135, 135, 135);
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
}
.slide {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}
.swiper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}
