header {
    background-color: #F3F4F5;
}
.cont {
    display: flex;
    max-width: 1920px;
width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    
    padding-right: 120px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 80px;
/* depth/1 */
box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
}
.right_side {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logotip {
    width: 138px;
height: 138px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list {
    display: flex;
    gap: 48px;
    padding-left: 49px;
}
.nav_link {
    list-style-type: none; 
}
.nav_link a{
   list-style-type: none; 
   color: rgb(119, 126, 145);
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0%;
white-space: nowrap;
cursor: pointer;
text-align: center;
}
.nav_link a:hover {
    color: black;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.social_link {
    height: 20px;
}
.button_call {
/* Buttons */
width: 150px;
height: 40px;
/* Auto layout */
background-color: transparent;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
/* Neutrals/6 */
border: 2px solid rgb(230, 232, 236);
border-radius: 100px;

margin-left: 64px;
/* Inside Auto Layout */
order: 1;
flex-grow: 0;
color: rgb(35, 38, 47);
font-family: Open Sans;
white-space: nowrap;
font-size: 14px;
font-weight: 700;
line-height: 16px;
text-align: center;
}
.instagram_icon:hover path {
    fill: plum;
}
.facebook_icon:hover path{
    fill: blue;
}
.twitter_icon:hover path{
    fill: #61FFFF;
}
